# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore all Markdown files (except README.md):
*.md
!README.md

# Ignore configuration files:
*.json
*.yaml
*.yml
.wescore

# Ignore lock files:
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore hidden directories:
.*/

# Ignore node_modules:
node_modules
